body{
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 14px;
    margin: 0 auto;
}
.countries{
    background-color: #0072bc;
    width: auto;
    margin: 0 auto;
    padding: 0 auto;
}
h1{
    display:flex;
    justify-content:  left;
    margin-left: 200px;
    list-style-type:none;
    width: auto;
    color: #fefefe;
    padding-top: 25px;
    padding-bottom: 25px;
}
h2{
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-left: 200px;
}
.nav{
    text-decoration: none;
    background-color: #f0f0f0;
    list-style-type:none;
    margin-left: 200px;
    padding-left: 10px;
    padding-top: 5px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.radiusleft{
    border-bottom:3px solid  #ffffff; 
    padding-bottom: 10px;
    padding-top: 5px;
}
.radiusright{
    border-bottom:1px solid  #9b9e9b; 
    padding-bottom: 10px;
    padding-top: 5px;
    justify-content: space-between;

}
.nav-right{
    border: 1px solid  #9b9e9b;
    border-radius:5px;
    margin-left: 30px;
    width: 70%;
    padding-left: 10px;
}
.footer{
    background-color:#3d3d3d;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}
h4{
    font-family: 'Roboto', sans-serif;
    color: #9f9f9f;
    margin-left: 200px;  
}
.left{
    width: 40%;
    margin-right: 30px;
}
.h2{
  margin-left: 30px;
}
.add{
    background-color: #0072bc;
    color: white;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    outline: none;
    border-radius: 3px;
}
.active, .add:hover {
    background-color: #0072bc;
}
.form {
    padding: 0 18px;
    /* max-height: 0; */
    height: 150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    /* display: none; */
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.input{
    justify-content: start;
    text-align: left;
    display: inline-block;
    width: 500px;
    height: 50px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}
.trash{
    justify-content: right;
    width: 20px;
    height: 20px;
}
.pencil{
    justify-content: right;
    width: 20px;
    height: 20px;
}
